.RangeCounter {
  height: 10rem;
}

.RangeCounter__title {
  font-size: 0.8rem;
}

.RangeCounter__controls {
  align-items: center;
  border: 0.1rem solid black;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  justify-items: center;
  padding: 1rem;
  width: 18vw;
}

.RangeCounter__alert {
  font-size: 0.8rem;
  color: red;
}

.RangeCounter button {
  border-radius: 0.3rem;
  font-size: 1.2rem;
  height: 2rem;
  width: 2rem;
}

.Input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #555;
}

.Input:focus {
  background-color: lightblue;
}
